html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#colon3 {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  width: 4rem;
  border: 1px solid;
  border-radius: 100%;
}

div {
  background-color: white;
}

#shamelessselfpromo {
  margin: 0;
  padding: 1rem;
  background-color: #f56a3a;
  font-size: 2rem;
  font-family: "Bytesized", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#shamelessselfpromo > a {
  color: white;
}

a {
  text-decoration: none;
}

#credits {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 400;
  line-height: 1rem;
}